<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/common :: head('게시판')}">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- boardform CSS-->
    <link th:href="@{/css/board/board_form.css}" rel="stylesheet">

    <title>게시판</title>

</head>

<body>

    <div class="container mt-10">

        <h2 class="mt-4 mb-3">게시판</h2>

        <form th:action="@{/board/form}" th:object="${board}" method="post">
            <input type="hidden" th:field="*{boardId}">

            <!-- 제목 -->
            <div class="form-group">

                <label for="title">제목</label>

                <input type="text" class="form-control" id="title" placeholder="제목을 입력해주세요." th:field="*{title}"
                    th:classappend="${#fields.hasErrors('title')} ? 'is-invalid'">

                <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
                    제목 에러 메시지
                </div>

            </div>

            <!-- 내용 -->
            <div class="form-group">

                <label for="content">내용</label>

                <textarea class="form-control" id="content" row="3" placeholder="내용을 입력해주세요." th:field="*{content}"
                    th:classappend="${#fields.hasErrors('content')} ? 'is-invalid'"> </textarea>

                <div class="invalid-feedback" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">
                    제목 에러 메시지
                </div>

            </div>

            <!-- 게시글 등록, 취소, 삭제 버튼-->
            <div class="text-right">
                <a type="button" class="btn btn-primary" th:href="@{/board/boards}">취소</a>
                <button type="submit" class="btn btn-primary">확인</button>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmDeleteModal"
                    th:if="${board.boardId != null}">삭제</button>
            </div>

        </form>
    </div>

    <!-- Delete Confirmation Modal -->
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog"
        aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteModalLabel">글 삭제 확인</h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>

                <div class="modal-body">
                    <p>정말로 이 글을 삭제하시겠습니까?</p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                    <a id="deleteButton" class="btn btn-danger"
                        th:href="@{/board/delete(boardId=${board.boardId})}">삭제</a>
                </div>

            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

</body>

</html>