<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/common :: head('게시판')}">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- boarddetail CSS-->
    <link th:href="@{/css/board/boarddetail.css}" rel="stylesheet">

    <title>게시판</title>

</head>

<body>

    <div class="container mt-3">

        <form th:object="${board}">
            <input type="hidden" th:field="*{boardId}">

            <!-- 제목 -->
            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" class="form-control" id="title" th:field="*{title}" disabled>
            </div>

            <!-- 내용 -->
            <div class="form-group">
                <label for="content">내용</label>
                <textarea class="form-control" id="content" row="3" th:field="*{content}" disabled> </textarea>
            </div>

            <!-- 리스트로 돌아가기, 수정 버튼-->
            <div class="mb-4 text-right">
                <a type="button" class="btn btn-primary" th:href="@{/board/boards}">돌아가기</a>
                <a type="button" class="btn btn-primary" th:href="@{/board/form(boardId=${board.boardId})}"
                    th:if="${#authentication.principal.username == board.user.userName}">수정하기</a>
            </div>

        </form>

        <div class="card shadow-0 border" style="background-color: #f0f2f5;">
            <div class="card-body p-4">

                <!-- 댓글 작성 -->
                <form th:action="@{/comment/register}" th:object="${comment}" method="post">
                    <input type="hidden" name="boardId" th:value="${board.boardId}" />

                    <div class="card mb-4 border-0" style="background-color: #f0f2f5;">
                        <div class="d-flex flex-start w-100">
                            <div class="form-outline w-100">
                                <textarea class="form-control" id="commentContent" name="content" rows="3"
                                    style="background: #fff;"></textarea>
                            </div>
                        </div>

                        <div class="float-end mt-2 pt-1">
                            <button type="submit" class="btn btn-primary btn-sm">Post comment</button>
                        </div>
                    </div>

                </form>

                <!-- 댓글 내용-->
                <div th:if="${commentList.size() > 0}">
                    <div class="card mb-4" th:each="comment : ${commentList}">
                        <div class="card-body">

                            <div class="d-flex justify-content-between">
                                <div class="d-flex flex-row align-items-center">
                                    <p class="small" th:text="${comment.user.userName}">작성자</p>
                                </div>
                            </div>

                            <h6 class="mb-0 ms-2" th:text="${comment.content}">내용</h6>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>

</html>