<!-- 상단 네비게이션 바-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head(title)">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- common CSS -->
    <link th:href="@{/css/fragments/common.css}" rel="stylesheet">

    <title th:text="${title}"></title>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="menu(menu)">
        <div class="container-fluid">

            <a class="navbar-brand" th:href="@{/}">spring boot</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <!-- 홈 -->
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${menu} == 'home'? 'active'" th:href="@{/}">홈</a>
                    </li>

                    <!-- 게시판 -->
                    <li class="nav-item">
                        <a class="nav-link" th:classappend="${menu} == 'board'? 'active'"
                            th:href="@{/board/boards}">게시판</a>
                    </li>

                    <!-- api리스트 -->
                    <li class="nav-item dropdown">

                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            api
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Chat gpt</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>

                    </li>

                </ul>

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <!-- 로그인 버튼 -->
                    <a class="btn btn-primary my-2 mr-2 my-sm-0" th:href="@{/account/login}"
                        sec:authorize="!isAuthenticated()">로그인</a>

                    <!-- 회원가입 버튼 -->
                    <a class="btn btn-info my-2 my-sm-0" th:href="@{/account/register}"
                        sec:authorize="!isAuthenticated()">회원가입</a>

                    <!-- 로그인 했을경우 표시 -->
                    <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="POST"
                        sec:authorize="isAuthenticated()">

                        <!-- 사용자페이지 이동 -->
                        <a type="button" class="btn btn-info my-2 mr-3 my-sm-0" th:href="@{/account/user}">
                            <!-- 사용자 이름-->
                            <span class="text-white" sec:authentication="name">사용자</span>
                            <!-- 해당 사용자에게 부여된 권한 -->
                            <span class="text-white" sec:authentication="principal.authorities">권한</span>
                        </a>

                        <!-- 로그아웃 버튼 -->
                        <button class="btn btn-danger my-2 my-sm-0" type="submit">Logout</button>

                    </form>
                </ul>

            </div>

        </div>
    </nav>

</body>

</html>