html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 100vh;
    padding: 0;
}

.nav-item.nav-link.active {
    border-top: #FFFFFF;
    border-right: #FFFFFF;
    border-left: #FFFFFF;
    border-bottom: 3px solid black;
    color: black;
}

.nav-item.nav-link {
    border-top: #FFFFFF;
    border-right: #FFFFFF;
    border-left: #FFFFFF;
    color: #B6B9B6;
}

.container {
    width: 100vw;
    height: 100vw;
    margin: 0;
    background-color: #EEEEEE;
}

.card-rounded {
    border-radius: 10px;
}

.card-title {
    margin: 0;
    background-color: #333;
    color: white;
    font-weight: 600;
}

.card-title h5.card-title {
    font-size: 14px;
}

.card-author {
    margin: 0;
    background-color: #333;
    color: white;
    font-weight: 100;
}

.title-link {
    text-decoration: none;
    color: inherit;
}

.title-link:hover {
    text-decoration: none;
    color: inherit;
}

.img-box {
    width: 50px;
    height: 50px; 
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20%;
    image-rendering:-webkit-optimize-contrast;
    transform:translateZ(0);
    backface-visibility:hidden;
}