html {
    width: 100%;
    height: 100%;
}

body {
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.nav-item.nav-link.active {
    border-top: #FFFFFF;
    border-right: #FFFFFF;
    border-left: #FFFFFF;
    border-bottom: 3px solid black;
    color: black;
}

.nav-item.nav-link {
    border-top: #FFFFFF;
    border-right: #FFFFFF;
    border-left: #FFFFFF;
    color: #B6B9B6;
}

.container {
    width: 100vw;
    height: 100vw;
    margin: 0;
    background-color: #EEEEEE;
}

.card-rounded {
    border-radius: 10px;
}

.card-title {
    background-color: #333;
    color: white;
    font-weight: 600;
    margin: 0;
}

.card-title h5.card-title {
    font-size: 14px;
}

.card-author {
    background-color: #333;
    color: white;
    font-weight: 100;
    margin: 0;
}